<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="thank you email" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <h2 class="title is-2">Thank you for booking your flight with us, <%= @passengers.name %></h2>
    <p>To view your tickets, follow this link <%= @url %></p>
    <p>Have a great day!</p>
    <script src="" async defer></script>
  </body>
</html>