  <div class="section">
    <div class="columns is-centered">
      <table class="table is-bordered has-text-centered">
        <thead>
          <tr>
            <th>Departing Airport</th>
            <th>Arriving Airport</th>
            <th>Number of Passengers</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tbody>
      </table>
    </div>
  </div>
  