/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bulma';
 
 #logo {
   color: rgb(233, 245, 255);
 }

 .FLEX{
   display: flex;
   justify-content: space-between;
 }

 .hash{
   display: inline-flex;
   width: 90%;
 }

 #hash{
   width: 100%;
   margin-right: 20px;
 }

 #button{
  background-color: #E76F51;
  color: white;
  border: transparent;
 }

 .body {
   background-color: #264653;
 }

 .title, .select.required.label, .select.label {
   color: #E9C46A;
 }

 .navbar{
   background-color: #E76F51;
 }

 input[type="submit"]{
   background-color: #E76F51;
   color: white;
   border: transparent;
 }

 li{
   color:#E9C46A;
 }

 #logo-text{
   font-family: lobster;
   color: #264653;
 }

 #radio{
   margin:auto;
 }

 .logo-item{
   color: #E9C46A;
 }

 .flight-id{
   color: #E9C46A ;
 }

 #flash{
   float: right;
 }

 #odin-test{
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
 }

 .notification{
   padding: 1rem;
 }

 table { 
  border: 1px solid #ddd;
  border-collapse: separate;
  border-left: 0;
  border-radius: 4px;
  border-spacing: 0px;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: separate;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
th, td {
  padding: 5px 4px 6px 4px; 
  text-align: left;
  vertical-align: top;
  border-left: 1px solid #ddd;    
}
td {
  border-top: 1px solid #ddd;    
}
thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}

.title.is-5{
  color: black;
}

#booking-column{
  border: solid yellow 1px;
}

.card, .box, .table, #hash{
  box-shadow: 0 0.5em 1em -0.125em, 2px 2px 5px 1px white;
}