/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bulma';
 
 #logo {
   color: rgb(233, 245, 255);
 }

 .FLEX{
   display: flex;
   justify-content: space-between;
 }

 .hash{
   display: inline-flex;
   width: 80%;
 }

 #hash{
   width: 96%;
   margin-right: 20px;
 }

//  #banner{
//    width: 95%;
//  }

 #button{
  width: 73%;
  background-color: #E76F51;
  color: white;
  border: transparent;
 }

 .body {
   background-color: #264653;
 }

 .title.is-2, .title.is-3, .title.is-4, .select.required.label, .select.label {
   color: #E9C46A;
 }

 .navbar{
   background-color: #E76F51;
 }

 input[type="submit"]{
   background-color: #E76F51;
   color: white;
   border: transparent;
 }

 li{
   color:#E9C46A;
 }

 #logo-text{
   font-family: lobster;
   color: #264653;
 }

 #radio{
   display: flex;
 }
